*   
    padding: 0
    margin: 0
    box-sizing: border-box

header
    background-repeat: no-repeat
    height: 200px
    background-size: cover
    background-position: center

header:before
    content: ""
    width: 100%
    height: 200px
    position: absolute
    top: 0px
    left: 0px

    background-image: linear-gradient(90deg, #1F3297, #111927)
    opacity: 0.8

.container
    width: 80%
    margin: auto
    height: 100%

.content
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative

.resultado
    color: red
    font-size: 16px        
    
.tabla
    border: 1px solid
    color: black

tr
    border: 1px solid
    color: black